{% extends "principal_base.html" %}

  {% block title %}
    Postulate
  {% endblock title %}

{% load static %}
{% block content %}


<section class="pt-sm-5 pb-5 position-relative bg-gradient-dark">
 
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-start mb-5 mt-5">
        <h3 class="text-white z-index-1 position-relative">Becarios.</h3>
        <p class="text-white opacity-8 mb-0">Ten la capacidad de realizar tus sueños, ingresando <span><i class="fa-solid fa-building-columns"></i> U-T-A</span></p>
      </div>
    </div>
    <center>
      {% if menssage %}
      <div class="alert bg-gradient-warning alert-dismissible fade show col-sm-9 my-0" role="alert" time="1500" >
        <strong class="text-white">En hora buena!</strong> {{menssage}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
      </div>
      {% endif %}      
    </center>
    <div class="row mt-4">
      <div class="col-lg-9 mx-auto d-flex justify-content-center flex-column">
        <div class="card card-profile overflow-hidden z-index-2">
        <!-------->
        
                  <h3 class="text-center mt-4">Ingresa tus datos.</h3>
                  <form role="form" id="contact-form" method="post" autocomplete="off">
                    {% csrf_token %}
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-6">
                          <label>Primer Nombre</label> <i class="fas fa-asterisk" style="font-size: 0.7em; color: red;"></i>
                          <div class="input-group mb-4">
                            <input class="form-control" placeholder="" aria-label="First Name..." type="text" name="nombres" required>
                          </div>
                        </div>
                        <div class="col-md-6 ps-2">
                          <label>Primer Apellido</label> <i class="fas fa-asterisk" style="font-size: 0.7em; color: red;"></i>
                          <div class="input-group">
                            <input type="text" class="form-control" placeholder="" aria-label="Last Name..." name="apellidos" required>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>Mail</label> <i class="fas fa-asterisk" style="font-size: 0.7em; color: red;"></i>
                          <div class="input-group mb-4">
                            <input class="form-control" placeholder="" aria-label="Mail..." type="mail" name="correo" required >
                          </div>
                        </div>
                        <div class="col-md-6 ps-2">
                          <label># Identidad</label> <i class="fas fa-asterisk" style="font-size: 0.7em; color: red;"></i>
                          <div class="input-group">
                            <input type="text" class="form-control" placeholder="" aria-label="Identidad..." name="identidad" required >
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Carrera</label> <i class="fas fa-asterisk" style="font-size: 0.7em; color: red;"></i>
                            <select class="form-select" data-live-search="true" id="id_carrera" name="carrera" onchange="dataCarrera(this.value)" required>
                                <option value="">-Seleccione-</option>
                                {% for carrera in carreras %}
                                <option value="{{carrera.pk}}">{{carrera.descripcion_carrera}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                          <label>Telefono</label> <i class="fas fa-asterisk" style="font-size: 0.7em; color: red;"></i>
                          <div class="input-group mb-4">
                            <input class="form-control" placeholder="" aria-label="Cel..." type="text" name="cel" required >
                          </div>
                        </div>
                      
                      </div>
                      <div class="row">
                        <div class="input-group mb-5 col-md-6">
                          <label class="input-group-text" for="inputGroupFile01"><i class="fa-solid fa-upload"></i></label>
                          <input type="file" class="form-control" id="inputGroupFile01" name="archivo" required>
                        </div>

                      </div>
                      <!---->
                      
                        <div class="row mb-5">
                          <hr class="bg-dark">
                          <div class="col-md-6">
                            <label style="display: none" id="id_div1"><i class="fa-solid fa-landmark"></i> Detalle de Admision</label> 
                            <div id="id_admision">
                              
                            </div>
                          </div>
                          <div class="col-md-6 ">
                            <label style="display: none" id="id_div2"><i class="fa-solid fa-people-roof"></i> Requisitos</label>
                            <p id="id_requisitos">
                              
                            </p>
                          </div>
                          <div class="col-ms-3  mt-4">
                            <label style="display: none" id="id_div3"><i class="fa-solid fa-calendar"></i> Fecha Limite</label>
                            <p id="id_fli">
                              
                            </p>
                          </div>
                        </div>
                        
                      <!---->
                      <div class="row">
                        <div class="col-md-12 mb-4">
                          <div class="form-check form-switch mb-4">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked="" required>
                            <label class="form-check-label" for="flexSwitchCheckDefault">Estoy de acuerdo con  <a class="nav-link text-dark" href="{% url 'term_conditions' %}" target="_blank"><u>Terminos y condiciones.</u></a></label>
                          </div>
                        </div>
                        <center>
                        <div class="col-md-10">
                          <button type="submit" class="btn bg-gradient-dark w-50 ">Enviar</button>
                        </div>
                      </center>
                      </div>
                    </div>
                  </form>
                
             
            
          
          
            
        <!-------->
        </div>
      </div>
      
    </div>
  </div>
  <div class="position-absolute w-100 bottom-0 mn-n1">
    <svg width="100%" viewBox="0 -1 1920 166" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <title>wave-up</title>
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(0.000000, 5.000000)" fill="#FFFFFF" fill-rule="nonzero">
          <g id="wave-up" transform="translate(0.000000, -5.000000)">
            <path d="M0,70 C298.666667,105.333333 618.666667,95 960,39 C1301.33333,-17 1621.33333,-11.3333333 1920,56 L1920,165 L0,165 L0,70 Z" fill="#f8f9fa"></path>
          </g>
        </g>
      </g>
    </svg>
  </div>
</section>

{% endblock content %}

{% block js %}
<script>
    $ (document).ready( function() {
$('#datepicker1') .datepicker();
});
function dataCarrera(a)
{
  
  $.ajax({
    url: "{% url 'AJAXAdmisiones' %}",
    type: "get",
    data: {
        'id_carrera': a,
    },
    contentType: "application/json; charset=utf-8",
    dataType: "json",
    success: function(data) {
        $.each(data, function(key, val) {
          if(val.Error){
            document.getElementById('id_div1').style.display = "none";
            document.getElementById('id_div2').style.display = "none";
            document.getElementById('id_div3').style.display = "none";
            document.getElementById('id_admision').innerHTML = '';            document.getElementById('id_requisitos').innerHTML = '';
            document.getElementById('id_fli').innerHTML = '';
            alert(val.Error);
          }else{
            
            document.getElementById('id_div1').style.display = "block";
            document.getElementById('id_div2').style.display = "block";
            document.getElementById('id_div3').style.display = "block";
            document.getElementById('id_admision').innerHTML = val.descripcion_adm;
            document.getElementById('id_requisitos').innerHTML = val.requisitos;
            document.getElementById('id_fli').innerHTML = val.fecha;
          }
          
          
            
        });
    },
   
  });     
}
  </script>
{% endblock js %}