{% extends "principal_base.html" %}

  {% block title %}
    medicina
  {% endblock title %}

{% load static %}
{% block content %}

<!-- END Section with four info areas left & one card right with image and waves -->
<!-- -------- START Features w/ pattern background & stats & rocket -------- -->
<section class="pt-sm-8 pb-5  position-relative bg-gradient-dark">
  
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-start mb-5 mt-3">
        <h1 class="text-white z-index-1 position-relative"><i class="fa fa-user-md fa-2x"></i>  Facultad de Medicina</h1>
        <p class="text-white opacity-8 mb-0">Procedimientos de la carrera de Medicina-Admisiones y registro para el ingreso a la carrera de medicinas en <br>U-T-A</p>
      </div>
    </div>
    

    <div class="row">
        <div >
          <div class="card card-profile overflow-hidden">
            <div class="row">
              
              <div>
                <div class="card-body">
                  <h4 class="mb-0">Requisitos</h4>
                  <h6 class="text-info">Dirección de ingresos</h6>
                  <p class="mb-0">Procedimientos que la Carrera de Medicina, la Dirección de Sistema de Admisión 
                      (DSA) y la Dirección de Ingreso, Permanencia y Promoción (DIPP- Registro) 
                      deben seguir para la admisión de aspirantes, estudiantes de la U-T-A y de otras 
                      universidades nacionales o extranjeras que van a competir por un cupo para ingresar 
                      a la Carrera de Medicina.
                    </p>
                    <br>
                    <p justify-content-center>
                        Cada aspirante, al inscribirse para hacer la PAA y PCCNS para competir por un cupo
                         a la Carrera de Medicina, debe seleccionar el centro de estudio por el cual va a 
                         competir y  estar consciente que una vez que realice la elección, no podrá hacer 
                         ningún cambio independientemente de su calificación ya que su clasificación únicamente 
                         será tomada en cuenta para el centro que seleccionó, pudiendo cursar las clases 
                         generales (Sociología, Filosofía, Español, Historia de Honduras y optativas) 
                         en el Centro Regional de su elección, posteriormente deberá trasladarse al Centro 
                         donde ganó cupo para continuar con la Carrera  de Medicina. La DIPP-Registro debe 
                         cuidar que los aspirantes que ganaron cupo y se matricularon para determinado 
                         centro de estudio (CU o U-T-A) NO podrán posteriormente hacer cambio de centro 
                         de estudio y deben cursar la carrera en el centro para el cual ganaron un cupo.
                    </p>

                    <h5 class="mb-0">Procedimientos para los aspirantes de primer ingreso 
                        que desean estudiar la carrera de medicina
                    </h5>
                    <br>
                    <p>
                        Los aspirantes de primer ingreso que desean estudiar la Carrera de Medicina 
                        en la U-T-A, deben   realizar  todos los pasos del proceso de admisión para 
                        competir por un cupo. 
                        Los aspirantes deberán hacer 2 pruebas el mismo día: La Prueba de Aptitud 
                        Académica (PAA) y la Prueba de Conocimientos de las Ciencias Naturales y de la Salud (PCCNS).<br>
                        Para realizar el proceso de admisión los aspirantes deben hacer los siguientes pasos 
                        según el calendario del Sistema de Admisión:<br><br>

                        *
                        Realizar la inscripción en la página web de admisiones: www.admisiones.uta.edu.hn  
                        (Durante la inscripción el aspirante debe definir y seleccionar por cuál centro de
                        estudios va a competir.)<br><br>

                        *
                        Pagar en Banco Atlántida, Ficohsa, Davivienda, Banpaís o Lafise por la PAA y por la 
                        PCCNS  la cantidad que esté vigente en la fecha de inscripción.<br><br>
                        
                        *
                        Presentar documentos en la fecha establecida para reclamar su credencial con fotografía 
                        digital y la guía de estudio para preparase para la PAA.<br><br>

                        *
                        Someterse a ambas pruebas el mismo día: la PAA por la mañana y la Prueba de Conocimientos por la tarde.<br><br>

                        *
                        Solamente si logra alcanzar un puntaje igual o mayor a 1100 en la PAA se le tomará  en cuenta 
                        el puntaje de la Prueba de Conocimientos (PCCNS) y podrá competir por un cupo. Con el puntaje 
                        de ambas pruebas, mediante una fórmula ya establecida, se determinará en qué posición queda cada 
                        aspirante y solo los que ocupen las 150 primeras posiciones en CU-Narnia y 50 primeras posiciones
                         en UTA-VS, según el ranking, son los que podrán matricularse en la Carrera de Medicina.

                    </p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="position-absolute w-100 bottom-0 mn-n1 ">
        <svg width="110%" viewBox="0 -1 1920 166" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>wave-up</title>
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(0.000000, 5.000000)" fill="#FFFFFF" fill-rule="nonzero">
              <g id="wave-up" transform="translate(0.000000, -5.000000)">
                <path d="M0,70 C298.666667,105.333333 618.666667,95 960,39 C1301.33333,-17 1621.33333,-11.3333333 1920,56 L1920,165 L0,165 L0,70 Z" fill="#f8f9fa"></path>
              </g>
            </g>
          </g>
        </svg>
      </div>

</section>

<!-- -------- START PRE-FOOTER 1 w/ SUBSCRIBE BUTTON AND IMAGE ------- -->



{% endblock content %}

{% block js %}
 
{% endblock js %}