{% extends "base-admin.html" %}

  {% block title %}
    Administracion
  {% endblock title %}

{% load static %}


{% block content %}

<!-- -------- END Features w/ pattern background & stats & rocket -------- -->
<section class="pt-2 pb-6 pt-8 bg-gray-100" id="count-stats">
  <div class="container">
    
    
    <div class="row justify-content-center text-center">
      <div class="col-md-3">
        <h1 class="text-gradient text-info" id="state1" countTo="{{cantS}}">0</h1>
        <h5> <i class="fa-solid fa-bell"></i> Solicitudes</h5>
        
      </div>
      <div class="col-md-3">
        <h1 class="text-gradient text-info"><span id="state2" countTo="{{Can_carreras}}">0</span>+</h1>
        <h5><i class="fa-solid fa-award"></i> Carreras</h5>
        
      </div>
      <div class="col-md-3">
        <h1 class="text-gradient text-info"><span id="state3" countTo="{{postulantes}}">0</span></h1>
        <h5><i class="fa-solid fa-user-graduate"></i> Pasantes</h5>
        
      </div>
    </div>
  </div>
</section>
<!-- -------- START PRE-FOOTER 1 w/ SUBSCRIBE BUTTON AND IMAGE ------- -->
<section class="pt-sm-8 pb-8 position-relative bg-gradient-dark ">
 
  <div class="container">
   
   
    
    <div class="card">
      <div class="card-header">
        Solicitud de Admisiones
      </div>
      <div class="card-body">
        <table id="example" class="table table-sm table-bordered table-striped table-hover" style="width:100%">
            <thead>
                <tr>
                    <th>Pasante</th>
                    <th>Carrera</th>
                    <th>Fecha de expiracion</th>
                    <th>opciones</th>
                   
                </tr>
            </thead>
            <tbody>
              
              {% for solis in solicitudes %}
                
                <tr>
                    <td>{{solis.postulante.nombres}} {{solis.postulante.apellidos}}</td>
                    <td>{{solis.admision.carrera.descripcion_carrera}}</td>
                    <td>{{solis.admision.fecha_expira}}</td>
                    <td><button type="button" class="btn btn-sm bg-gradient-info w-auto me-2" data-bs-toggle="modal" data-bs-target="#exampleModal{{solis.pk}}">Detalle</button></td>
                    
                </tr>

                  <div class="modal fade" id="exampleModal{{solis.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">{{solis.postulante.nombres}} {{solis.postulante.apellidos}}</h5>
                          <hr>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          Carrera : {{solis.admision.carrera.descripcion_carrera}} <br>
                          Fecha de registro : {{solis.fecha_registro}}
                          <br><br>
                          {{solis.admision.descripcion_adm}}
                        </div>
                        <div class="modal-footer justify-content-end">
                          
                          <button type="button" class="btn bg-gradient-dark " data-bs-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
           
            </tbody>
            
    </table>
      </div>
    </div>
      <br><br>
      
    
  </div>
  <div class="position-absolute w-100 bottom-0 mn-n1">
    <svg width="100%" viewBox="0 -1 1920 166" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <title>wave-up</title>
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(0.000000, 5.000000)" fill="#FFFFFF" fill-rule="nonzero">
          <g id="wave-up" transform="translate(0.000000, -5.000000)">
            <path d="M0,70 C298.666667,105.333333 618.666667,95 960,39 C1301.33333,-17 1621.33333,-11.3333333 1920,56 L1920,165 L0,165 L0,70 Z" fill="#f8f9fa"></path>
          </g>
        </g>
      </g>
    </svg>
  </div>
</section>


{% endblock content %}

{% block js %}

  <script>
    $(document).ready(function () {
      $('#example').DataTable({
        "language": {
          "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
        }
      });
  });
  </script>
{% endblock js %}